<a href="https://colab.research.google.com/github/PadamKansal/Assignment-By-Padam-Kansal/blob/main/Assignment_5_By_21109029.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question-1

In [ ]:
a=str(input("Enter the text to reverse: "))
print(a[::-1])

Question-2

In [ ]:
a=int(input("Enter the number to check with which you want to check the divisibility: "))
x=int(input("Enter the lower limit: "))
y=int(input("Enter the upper limit: "))
for i in range(x,y+1):
    if i%a==0:
        print(i)

Question-3

In [ ]:
a=int(input("Enter first side"))
b=int(input("Enter second side"))
c=int(input("Enter third side"))
s=(a+b+c)/2
if a+b>c and a+c>b and b+c>a:
  x=(s*(s-a)*(s-b)*(s-c))**(1/2)
  print("AREA IS:",x)

Question-4

In [ ]:
a = '*'
for i in range(1, 6):
 print(a*i)
for i in range(4, 0, -1):
 print(a*i)

*
**
***
****
*****
****
***
**
*

Question-5

In [ ]:
n=int(input("Enter the No of Rows: "))
k = 0
for i in range(0, n):
    for j in range(0, i+1):
        print(chr(65+k), end=" ")
        k = k + 1
    print()

Question-6

In [ ]:
lower_value = int(input ( "Please, Enter the Lower Range value : " ))
upper_value = int(input ( "Please, Enter the Upper Range Value : "))
print ("The Prime numbers in the range are: " )
for number in range(lower_value, upper_value + 1):
 if number > 1:
  for i in range (2,number):
   if(number % i) == 0:
    break
 else:
   print(number)

Please, Enter the Lower Range value : 13
Please, Enter the Upper Range Value : 64
The Prime numbers in the range are:

Question-7

In [ ]:
print("The numbers which are multiple of 7 and divisible by 11 in the range 1-500 are:")
for i in range(1,501):
  if(i%7==0 and i%11==0):
   print(i)

Question-8

In [ ]:


i=0
j=0
count=0
lst=list()
for i in range(1,11):
 num=int(input("Enter the number:"))
 list=lst.append(num)
print("Positive numbers:")
for i in lst:
 if i>=0:
  print(i)
print("Negative numbers:")
for i in lst  :
 if i<0:
  print(i)
print("Odd numbers:")
for i in lst:
 if i%2!=0:
  print(i)
print("Even numbers:")
for i in lst:
 if i%2==0:
  print(i)
print("Number of times:")
for i in lst:
 count=0
for j in lst:
 if i==j:
  \
  count=count+1
 print(i,"occurs", count,"times")

TypeError: ignored

Question-9

In [ ]:
i=0
j=0
input_string = input("Enter list elements separated by space:")
lst= input_string.split()
for i in lst:
 count=0
for j in lst:
 if i==j:
  count=count+1
 print(i,"occurs", count,"times")

Enter list elements separated by space:this is the game
game occurs 0 times
game occurs 0 times
game occurs 0 times
game occurs 1 times